[run]
data_file = ./tmp/.coverage
parallel = true
branch = true
source = src
omit =
    */tests/*
    */__pycache__/*
    */_vendor/*
    */_version.py
    */setup.py
    */core/date_utils.py
    */utils/date_utils.py

[report]
show_missing = true
skip_covered = true
fail_under = 79
